*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

terraform.tfvars
*.tfstate
*.tfstate.*
.terraform/

/__azurite_db_blob__.json
/__azurite_db_queue__.json
/__azurite_db_table__.json
__azurite_db_queue_extent__.json
__azurite_db_blob_extent__.json
/__blobstorage__
/__queuestorage__